@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

@font-face {
	font-family: 'Norse Bold';
	src: url(./assets/fonts/norse-bold.otf) format('opentype');
	font-weight: bold;
	font-style: normal;
}

:root {
    --bg-color-logo: rgba(0 0 0 / 0.5);
	--bg-color-primary: #f9fafb;
	--bg-color-form: #fff;
	--bg-color-button: #596d48;
    --bg-color-instructions: #ffa500;
    --bg-color-error: #B30404;

	--border-color: #e5e7eb;
	--border-color-focus: #4682b4;

	--shadow: 0 0 10px #4682b4;

	--ff-body: 'Rubik', sans-serif;
	--ff-logo: 'Norse Bold', Arial, sans-serif;

	--fs-h1: 2rem; /* 32px */
	--fs-h2: 1.5rem; /* 24px */
	--fs-h5: 0.83rem; /* 13.28px */
	--fs-h6: 0.67rem; /* 10.72px */

	--fw-bold: 500;

	--spacer-xs: 0.5rem; /* 8px */
	--spacer-sm: 1rem; /* 16px */
	--spacer-md: 1.5rem; /* 24px */
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
	padding: 0;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button {
	font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	min-height: 100svh;
	background: url(./assets/images/green-leaf-plant.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: var(--ff-body);
	padding: var(--spacer-sm);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: center; */
}

.sr-only {
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
}

.logo {
	align-self: initial;
	background-color: var(--bg-color-logo);
	border-radius: 5px;
	font-family: var(--ff-logo);
	color: var(--bg-color-form);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacer-sm);
	padding: var(--spacer-xs);
	margin-block-end: var(--spacer-xs);
}

.logo__image {
	width: 40px;
}

.logo__name {
	font-size: var(--fs-h1);
}

main {
	border-radius: 5px;
    margin-block-end: var(--spacer-xs);
}

.intro {
	background-color: var(--bg-color-primary);
	font-weight: var(--fw-bold);
}

.container {
	padding: var(--spacer-md);
}

.intro__description {
	margin-block-end: var(--spacer-sm);
}

.form__details {
	background-color: var(--bg-color-form);
}

.form__intro {
	margin-block-end: var(--spacer-sm);
}

.form__cheer {
	margin-block-end: var(--spacer-xs);
	font-weight: var(--fw-bold);
}

.form__group:not(:last-child) {
	margin-block-end: var(--spacer-sm);
}

.form__label {
	display: block;
	text-transform: uppercase;
	font-size: var(--fs-h5);
	margin-block-end: var(--spacer-xs);
}

.form__control {
	appearance: none;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	padding: 0 var(--spacer-xs);
	width: 90%;
	background: none;
	margin-block-end: var(--spacer-xs);
}

.form__control:focus {
	outline: none;
	border: 1px solid var(--border-color-focus);
	box-shadow: var(--shadow);
}


.pw__requirements {
    font-size: var(--fs-h6);
    font-weight: var(--fw-bold);
    background-color: var(--bg-color-instructions);
    display: block;
    width: fit-content;
    padding: 0.1rem 0.2rem;
    line-height: 1;
    margin-block-end: var(--spacer-xs);
}

.pw__requirements {
    display: none;
}

.pw__container:focus-within .pw__requirements {
    display: block;
}

.pw__container {
	position: relative;
}

.pw__error-message {
	visibility: hidden;
	position: absolute;
	width: fit-content;
	font-size: var(--fs-h6);
	font-weight: var(--fw-bold);
    color: var(--bg-color-form);
	bottom: -15px;
	left: 0;
	background-color: var(--bg-color-error);
	padding: 0.1rem 0.2rem;
	border-radius: 5px;
	/* transition: visibility 0.3s ease-in-out; */
}

.pw__input:invalid:not(:placeholder-shown) ~ .pw__error-message {
	visibility: visible;
}

.pw__input:not(:placeholder-shown) ~ .pw__error-message {
	visibility: hidden;
}

.form__account {
	background-color: var(--bg-color-primary);
}

.button {
	background-color: var(--bg-color-button);
	padding: 0.3em 1.5em;
	border-radius: 5px;
	border: none;
	color: var(--bg-color-form);
	cursor: pointer;
	margin-block-end: var(--spacer-md);
}

.login {
	text-decoration: none;
	color: var(--bg-color-button);
	font-weight: var(--fw-bold);
}

.footer {
	text-align: center;
	color: var(--bg-color-form);
	font-size: var(--fs-h5);
}

.attribution a {
	color: var(--bg-color-form);
}

.attribution a:visited {
	color: var(--bg-color-form);
}
